{% extends 'main.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Welcome{% endblock %}

{% block container %}
    <main role="main" class="container">
        <div class="jumbotron">
            <h1 class="h3 mb-3 font-weight-normal">Short URL</h1>
            <form method='POST' action='.' class="form">
            {% csrf_token %}
            {% bootstrap_form_errors form %}
                {% bootstrap_field form.url layout='inline' addon_after_class='btn btn-outline-secondary btn-clear' addon_after='<i class="fas fa-times"></i>' %}
            {% buttons %}
                <input type='submit' value='Submit' class="btn btn-primary">
            {% endbuttons %}
            </form>
        </div>
    </main>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/shortener/shortener_home.js' %}"></script>
{% endblock %}
