{% extends 'main.html' %}
{% load bootstrap4 %}

{% block title %}Welcome{% endblock title %}

{% block container %}
    <main role="main" class="container">
        <div class="jumbotron">
            <h1 class="h3 mb-3 font-weight-normal">Short URL</h1>
            <form method='POST' action='.' class="form">
                {% csrf_token %}
                {% bootstrap_form form layout='inline' %}
                {% buttons %}
                    <input type='submit' value='Submit' class="btn btn-primary">
                {% endbuttons %}
            </form>
        </div>
    </main>
{% endblock container %}