{% extends 'main.html' %}
{% load static %}
{% load icons %}

{% block title %}{{ title }}{% endblock title %}

{% block container %}
    <main role="main" class="container">
        <div class="jumbotron">
            <h1 class="h3 mb-3 font-weight-normal">Created</h1>
            <p>{{ object.url }}</p>
            <div class="input-group mb-3">
                <a class="form-control short-url" aria-label="Short URL" aria-describedby="button-addon2" readonly>
                    {{ object.get_absolute_url }}
                </a>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-copy" type="button" id="button-addon2">{% icon 'copy' %}</button>
                </div>
            </div>
            <a href='/'>+ New</a>
        </div>
    </main>
{% endblock container %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/shortener/success.js' %}"></script>
{% endblock javascript %}
