{% extends 'main.html' %}
{% load static %}
{% load icons %}

{% block title %}{{ title }}{% endblock title %}

{% block container %}
    <main role="main" class="container">
        <div class="jumbotron">
            <h1 class="h3 font-weight-normal">Success</h1>
            <div class="row">
                <ol class="breadcrumb col-sm-11">
                    <li class="breadcrumb-item col-sm-12">
                        <span class="short-url">{{ object.get_absolute_url }}</span>
                    </li>
                </ol>
                <div class="col-sm-1">
                    <button class="btn btn-outline-primary btn-copy btn-block"
                            style="height:72%">{% icon 'copy' %}</button>
                </div>
            </div>
            <div class="row">
                <ol class="breadcrumb col-sm-12">
                    <li class="breadcrumb-item active col-sm-12">{{ object.url }}</li>
                </ol>
            </div>
            <a class="btn btn-primary" href="{% url 'shortener:home' %}">New</a>
        </div>
    </main>
{% endblock container %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/shortener/success.js' %}"></script>
{% endblock javascript %}
