.data/
htmlcov/
secrets/
dhparam/
/web/static/
/web/mediafiles/
/web/staticfiles/
/pgadmin/data/
/web/*.json
*.pyc
*.ipynb
.coverage
.env*
*.geoipupdate.lock
*.mmdb
*.sqlite3
/configurator/docker-compose.yml