.data/
htmlcov/
secrets/
dhparam/
static/
mediafiles/
staticfiles/
/pgadmin/data/
.idea/workspace.xml
/web/*.json
*.pyc
*.ipynb
.coverage
.env*
*.geoipupdate.lock
*.mmdb
*.sqlite3
/configurator/docker-compose.yml