[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
cryptography = "*"
"django-bootstrap3" = "*"
djangorestframework = "*"
pillow = "*"
"psycopg2-binary" = "*"
bootstrap-admin = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.7"
