{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {# meta Block #}
    {% block meta %}
    {% endblock meta %}
    <title>
        {% block title %}
        {% endblock %}
    </title>

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    {# CSS Block #}
    {% block css %}
    {% endblock css %}

    {# Block to add template specific cdn #}
    {% block extra_libraries %}
    {% endblock extra_libraries %}

    {% include 'libraries.html' %}

    {# Moved the favicon clutter to another page. #}
    {% include 'components/favicon.html' %}
</head>
<body>

{#{% include 'navbar.html' %}#}

{% block container %}
{% endblock container %}
</body>
<footer>
    {% block javascript %}
    {% endblock javascript %}
</footer>
</html>