[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
cryptography = "*"
djangorestframework = "*"
pillow = "*"
"psycopg2-binary" = "*"
geoip2 = "*"
django-ipware = "*"
gunicorn = "*"
django-heroku = "*"
django-bootstrap4 = "*"
django-icons = "*"
dropbox = "*"
colorama = "*"
django-extensions = "*"
pygraphviz = "*"
werkzeug = {extras = ["watchdog"],version = "*"}
sentry-sdk = "*"
raven = "*"
redis = "*"
celery = "*"
django-widget-tweaks = "*"
django-debug-toolbar = "*"
django-redis-cache = "*"
hiredis = "*"
whitenoise = {extras = ["brotli"],version = "*"}
channels = "*"

[dev-packages]
coverage = "*"
flake8 = "*"

[requires]
python_version = "3"
