[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
cryptography = "*"
djangorestframework = "*"
pillow = "*"
"psycopg2-binary" = "*"
geoip2 = "*"
django-ipware = "*"
gunicorn = "*"
django-heroku = "*"
django-bootstrap4 = "*"
django-icons = "*"
dropbox = "*"
colorama = "*"
django-extensions = "*"

[dev-packages]
coverage = "*"

[requires]
python_version = "3.7"
